{%- comment -%}
  {
    "name": "Banner 01",
    "author": "PusherCommerce"
    "description": "Please DO NOT copy in any form. Any act of copying will be sued and held responsible with the law",
    "Semiwrite": "Yes"
  }
{%- endcomment -%}

{%- capture minify -%}
  <style>
    #psb-{{ section.id }} {
      --psb-gutter-x: 25px;
      position: relative;
      color: {{section.settings.text_color}};
      padding-top: {{section.settings.section_padding_top}}px;
      padding-bottom: {{section.settings.section_padding_bottom}}px;
      display: flex;
      align-items: center;
      line-height: 1.5;
    }

    #psb-{{ section.id }} img {
      max-width: 100%;
      height: auto;
    }

    #psb-{{ section.id }} img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover;
    }

    #psb-{{ section.id }}::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      z-index: 1;
    }

    #psb-{{ section.id }} .psb-section-inner {
      position: relative;
      text-align: {{section.settings.text_align}};
      z-index: 1;
    }

    #psb-{{ section.id }} .psb-section-subtitle {
      color: {{section.settings.text_color}};
      margin-top: 0;
      margin-bottom: 25px;
    }

    #psb-{{ section.id }} .psb-section-title::before,
    #psb-{{ section.id }} .psb-section-title::after {
      display: none;
    }

    #psb-{{ section.id }} .psb-section-title {
      color: {{section.settings.text_color}};
      margin-top: 0;
      margin-bottom: 25px;
      text-align: {{section.settings.text_align}};
    }

    #psb-{{ section.id }} .psb-divider {
      display: inline-block;
      width: 300px;
      height: 2px;
      background-color: var(--divider-color);
      margin: 0px auto 20px;
    }

    #psb-{{ section.id }} .psb-section-text {
      display: inline-block;
      max-width: 840px;
    }

    #psb-{{ section.id }} .psb-section-text p,
    #psb-{{ section.id }} .psb-section-text p a {
      color: {{section.settings.text_color}};
      margin-top: 0;
    }

    {% if section.settings.inherit_fonts == false %}
      #psb-{{ section.id }} .psb-section-subtitle {
        font-size: 14px;
      }
      #psb-{{ section.id }} h1.psb-section-title {
        font-size: 72px;
      }
      #psb-{{ section.id }} h2.psb-section-title {
        font-size: 56px;
      }
      #psb-{{ section.id }} h3.psb-section-title {
        font-size: 32px;
      }
      #psb-{{ section.id }} .psb-section-text p {
        font-size: 24px; margin-bottom: 24px;
      }
    {% endif %}

    @media only screen and (max-width: 767px) {
      #psb-{{ section.id }} {
        min-height: auto;
        padding-top: {{section.settings.section_padding_top_mobile}}px;
        padding-bottom: {{section.settings.section_padding_bottom_mobile}}px;
      }
      #psb-{{ section.id }} .psb-section-subtitle {
        margin-bottom: 20px;
      }
      #psb-{{ section.id }} .psb-divider {
        width: 200px;
      }
      {% if section.settings.inherit_fonts == false %}
        #psb-{{ section.id }} h1.psb-section-title {
          font-size: 50px;
        }
        #psb-{{ section.id }} h2.psb-section-title {
          font-size: 40px;
        }
        #psb-{{ section.id }} h3.psb-section-title {
          font-size: 26px;
        }
        #psb-{{ section.id }} .psb-section-text p {
          font-size: 20px;
        }
      {% endif %}
    }
  </style>
{%- endcapture -%}
{{ minify | strip_newlines }}

<div id="psb-{{ section.id }}" class="psb-{{ section.id }} psb-section psb-banner-banner-01" style="display: none;">
  {% if section.settings.background_image == blank %}
    <img src="https://cdn.shopify.com/s/files/1/0663/5887/0235/files/tying-up-boot-laces.jpg" loading="lazy" sizes="100vw">
  {% else %}
    <img
      srcset="
        {%- if section.settings.background_image.width >= 320 -%}{{ section.settings.background_image | img_url: '320x' }} 320w,{%- endif -%}
        {%- if section.settings.background_image.width >= 750 -%}{{ section.settings.background_image | img_url: '750x' }} 750w,{%- endif -%}
        {%- if section.settings.background_image.width >= 1500 -%}{{ section.settings.background_image | img_url: '1500x' }} 1500w,{%- endif -%}
        {%- if section.settings.background_image.width >= 2000 -%}{{ section.settings.background_image | img_url: '2000x' }} 2000w,{%- endif -%}
      "
      src="{{ section.settings.background_image | img_url: '1500x' }}"
      alt="{{ section.settings.background_image.alt | escape }}"
      sizes="100vw"
      loading="lazy"
    >
  {% endif %}
  <div class="{{ section.settings.container_width }}">
    <div class="psb-section-inner">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'subheading' %}
            {% if block.settings.subheading_text != blank %}
              <p class="psb-section-subtitle" {{ block.shopify_attributes }}>
                {{ block.settings.subheading_text }}
              </p>
            {% endif %}
          {% when 'heading' %}
            {% if block.settings.heading_text != blank %}
              <{{ block.settings.heading_tag }} class="psb-section-title" {{ block.shopify_attributes }}>
                {{ block.settings.heading_text | escape }}
              </{{ block.settings.heading_tag }}>
            {% endif %}
          {% when 'divider' %}
            <span class="psb-divider" style="--divider-color: {{block.settings.divider_color}}" {{ block.shopify_attributes }}></span>
          {% when 'text' %}
            {% if block.settings.section_text != blank %}
              <div class="psb-section-text" {{ block.shopify_attributes }}>
                {{ block.settings.section_text }}
              </div>
            {% endif %}
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "⚡︎PSB: Banner 01",
  "tag": "section",
  "settings": [
    {
      "type": "select",
      "id": "container_width",
      "options": [
        {
          "value": "psb-container",
          "label": "Container"
        },
        {
          "value": "psb-container-fluid",
          "label": "Container Fluid"
        },
        {
          "value": "psb-container-fullwidth",
          "label": "Container Fullwidth"
        }
      ],
      "default": "psb-container",
      "label": "Container width"
    },
    {
      "type": "header",
      "content": "Main settings"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "text_align",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "inherit_fonts",
      "default": false,
      "label": "Inherit font sizes from theme"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#ffffff"
    },
    {
      "type": "paragraph",
      "content": "💡 Adjust padding to align content vertically"
    },
    {
      "type": "header",
      "content": "Desktop"
    },
    {
      "type": "range",
      "id": "section_padding_top",
      "min": 0,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Section padding-top",
      "default": 350
    },
    {
      "type": "range",
      "id": "section_padding_bottom",
      "min": 0,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Section padding-bottom",
      "default": 350
    },
    {
      "type": "header",
      "content": "Mobile"
    },
    {
      "type": "range",
      "id": "section_padding_top_mobile",
      "min": 0,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Section padding-top",
      "default": 150
    },
    {
      "type": "range",
      "id": "section_padding_bottom_mobile",
      "min": 0,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "label": "Section padding-bottom",
      "default": 150
    }
  ],
  "blocks": [
    {
      "name": "Subheading",
      "type": "subheading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "subheading_text",
          "label": "Subheading text",
          "default": "Subheading text"
        }
      ]
    },
    {
      "name": "Heading",
      "type": "heading",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "heading_text",
          "label": "Heading text"
        },
        {
          "type": "select",
          "id": "heading_tag",
          "label": "Heading tag",
          "options": [
            {
              "value": "h1",
              "label": "H1"
            },
            {
              "value": "h2",
              "label": "H2"
            },
            {
              "value": "h3",
              "label": "H3"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "name": "Divider",
      "type": "divider",
      "limit": 1,
      "settings": [
        {
          "type": "color",
          "id": "divider_color",
          "label": "Color",
          "default": "#fff"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "section_text",
          "label": "Section text"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "⚡︎PSB: Banner 01",
      "settings": {
        "text_align": "center"
      },
      "blocks": [
        {
          "type": "subheading",
          "settings": {
            "subheading_text": "THE STONE SERIES"
          }
        },
        {
          "type": "heading",
          "settings": {
            "heading_tag": "h1",
            "heading_text": "Great Leather Collection"
          }
        },
        {
          "type": "text",
          "settings": {
            "section_text": "<p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}
